* {
  box-sizing: border-box;
  line-height: normal;
  font-family: 'Rubik', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    background: #FEFEFE;
}

html {
  background: #FEFEFE;
}

@font-face {
  font-family: 'William_Caslon';
  src: url(../fonts/WilliamsCaslonText-Regular.woff);
}

@font-face {
  font-family: 'Nocturno';
  src: url(../fonts/NocturnoDisplayPro-Regular.woff);
}

.projheader {
  height: 90vh;
  width: 100%;
  background: #000000;
}

.projheadgrid {
  display: inline-flex;
  margin-left: 10vw;
}

.projcomp {
  height: 90vh;
}

.projheadfeatimg {
  margin: auto;
}

.headfeardim {
  width: 50vw;
}

.projheadtitle {
  position: absolute;
  width: 75.5vw;
  margin-left: 0vw;
  margin-top: -24vw;
  color: #ffffff;
  font-family: 'Nocturno', serif;
  font-size: 12vw;
  text-align: right;
}

.projbg {
  background: #F7F7F7;
}

.projleftgrid {
  display: grid;
  grid-template-columns: 62.5% auto;
}

.projrightgrid {
  display: grid;
  grid-template-columns: auto 62.5%;
}

.projpicdim {
  width: 62.5vw;
}

.projparhold {
  margin: auto;
}

.projnow {
  display: block;
  width: 100%;
}

.projpar {
  width: 70%;
  margin: auto;
}

.projtitle {
  color: #000000;
  font-family: 'Nocturno', serif;
  font-size: 1.5em;
}

.projwords {
  color: #000000;
  font-family: 'William_Caslon', serif;
  line-height: 1.8em;
}

.spacer {
  height: 15vh;
}

.tennanthold {
  width: 80%;
  margin: auto;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.tennat {
  width: 100%;
}

#nuebox {
  width: 100vw;
}

#botgridc {
  width: 100%;
  display: grid;
  grid-template-columns: 45% auto;
}

#posterbreakout {
  width: 100%;
}

.botpicdimb {
  width: 100%;
}

#anotherbox {
  position: relative;
  margin-top: -20vh;
}

#octgrid {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 25% 30% 7.5% 30% 7.5%;
}

.octgriddim {
  width: 100%;
}

#posterpad {
  padding-bottom: 20vh;
}

#defaulttype {
  position: absolute;
  margin-top: -100px;
  margin-left: 56.5vw;
}

#typedim {
  width: 200px;
}

.projlink {
  text-align: center;
  max-width: 400px;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #000000;
  height: 3rem;
  margin-top: 1.6rem;
}

.projlink:hover {
  border: none;
}

.projlink:hover .casegrad {
  background: linear-gradient(132.04deg, #78C0BB -15.02%, #A27E6E 62.75%, #5C9371 96.41%);
  filter: blur(10px);
}

.projlink:hover .casegradgreen {
  background: #33BC6A;
  filter: blur(10px);
}

.projlink:hover .proja {
  color: #ffffff;
}

.projtxt {
  position: relative;
  top: -2.1rem;
}

.proja {
  color: #000000;
  font-family: sans-serif;
}

.casegradgreen {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
}

#projfeatquote {
  width: 80%;
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#featquotetext {
  font-family: 'Nocturno', serif;
  text-align: center;
  font-size: 6vw;
}

#specialgrid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto 600px;
}

.specialfit {
  width: 100%;
}

#speacialfeatimg {
  grid-row-start: 1;
  grid-row-end: span 2;
}

#specialtop {
  background-image: url(../images/abacus/animoc.gif);
  background-position: center;
  background-size: cover;
}

#spcialbottom {
  grid-row-start: 2;
}

#specialhold {
  display: inline-flex;
  width: 100%;
}

#specialcomp {
  height: 550px;
}

#timerhold {
  width: 80%;
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#timertext {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#timertext >p,span {
  font-family: 'Nocturno', serif;
  text-align: center;
  font-size: 5vw;
  padding-right: 0.2em;
}

.centerhighlight {
  width: 60%;
  margin: auto;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  text-align: center;
}

#quotetime {
  text-align: center;
  font-family: 'Nocturno', serif;
  text-align: center;
  font-size: 3vw;
  line-height: 5vw;
}

.threefold {
  display: flex;
}

.threefold >div {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.threehold {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

#economy {
  padding-top: 0vh;
  padding-bottom: 20vh;
}

#smaller {
  width: 80%;
  margin: auto;
}

#tradegif {
  width: 100%;
}

#alittlemore {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}

.values {
  text-align: left;
  padding-left: 2rem;
  border-left: 1px solid #000000;
}

.bittime {
  font-family: 'Nocturno', serif;
  font-size: 3rem;
}

#bitdip {
  margin-bottom: 7.5vh;
}

#comphold {
  display: flex;
  justify-content: center;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.atomhold {
  width: 300px;
  padding: 5px;
}

.attributebox {
  text-align: center;
  width: 60%;
  margin: auto;
}

#constain {
  width: 75%;
  margin: auto;
}
