/*housekeeping*/

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: 'Rubik', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
}


@font-face {
  font-family: 'William_Caslon';
  src: url(../fonts/WilliamsCaslonText-Regular.woff);
}

@font-face {
  font-family: 'Nocturno';
  src: url(../fonts/NocturnoDisplayPro-Regular.woff);
}

@font-face {
  font-family: 'CSTMX';
  src: url(../fonts/CSTMXprmntl03_Medium.woff);
}

/*mobile first styling*/

a {
  color: #2E4DBA;
  text-decoration: none;
  font-family: 'William_Caslon', serif;
}

canvas {
  position: relative;
  z-index: -3 !important;
}

#about {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(10px);
  z-index: 3;
  pointer-events: none;
}

#bannertop {
  background: #000000;
  color: white;
}

.contentwidth {
  width: 90%;
  margin: auto;
}

#headshot {
  z-index: 2;
  position: absolute;
  margin-top: -7vw;
  margin-left: 10vw;
}

#headhello {
  width: 100px;
}

#bannerhold {
  display: inline-flex;
}

#bannercomp {
  height: 100vh;
}

#bannervetalign {
  margin: auto;
}

#namecall {
  font-family: 'William_Caslon', serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1.6rem;
}

#headlinehold {
  display: inline-flex;
}

.headline {
  font-family: 'Nocturno', serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

#twoheadline {
  display: flex;
  align-items: center;
}

#call {
  font-family: 'CSTMX', serif;
  font-size: 1.2rem;
  margin: auto;
}

#deffintion>div {
  font-family: 'William_Caslon', serif;
  margin-bottom: 1rem;
}

#deffintion {
  width: 30vw;
  padding-left: 2vw;
}

#wordkind {
  font-size: 0.8rem;
}

#pronounce {
  font-family: sans-serif;
  font-style: italic;
}

.defbox {
  display: inline-flex;
}

.defbox>div {
  font-family: 'William_Caslon', serif;
}

.defsubnum {
  padding-right: 0.5rem;
}

.button {
  font-family: 'Nocturno', serif;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid white;
  border-radius: 30px;
  width: 230px;
  height: 3.4rem;
  align-self: center;
}

.bggrad {
  width: 100%;
  height: 3.4rem;
  border-radius: 30px;
}

.bttntxt {
  position: relative;
  top: -2.4rem;
}

.button:hover .bggrad {
  background: linear-gradient(114.02deg, #78C0BB -15.02%, #A27E6E 62.75%, #5C9371 96.41%);
  filter: blur(10px);
}

.button:hover{
  border: none;
}

#aboutme {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.titling {
  font-family: 'Nocturno', serif;
  font-size: 1.5em;
  margin-top: 0.4rem;
  color: #ffffff;
}

.body {
  font-family: 'William_Caslon', serif;
  line-height: 1.8em;
  color: #ffffff;
}

.btitling {
  font-family: 'Nocturno', serif;
  font-size: 1.5em;
  color: #000000;
}

.bbody {
  font-family: 'William_Caslon', serif;
  line-height: 1.8em;
  color: #000000;
}

/*project box*/

#contentbg {
  background: #000000;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.contentbox {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 20px;
  margin-bottom: 2.5vw;
  margin-top: 5vw;
  max-width: 500px;
  padding-bottom: 0.8rem;
}

.faturedimg {
  margin: 0.6rem;
}

.featdim{
  border-radius: 1rem;
  width: 100%;
}

.projectinfo {
  display: flex;
  align-items: baseline;
}

.aboutproject {
  padding: 0.6rem 1rem 0rem 1rem;
  font-family: 'William_Caslon', serif;
}

.rolesbox {
  display: inline-grid;
  grid-template-columns: 60px auto;
}

.rolesbox>div {
  font-family: 'William_Caslon', serif;
  vertical-align: text-top;
}

.roles {
  color: #ffffff;
}

.rolelist {
  text-transform: uppercase;
  font-size: 12px;
  vertical-align:text-bottom;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  color: #C2C2C2;
}

.projectnotes {
  padding-bottom: 0.6rem;
}

.projectnotes>div {
  display: inline-flex;
  font-family: 'William_Caslon', serif;
}

.projicon {
  height: 0.8rem;
  margin-right: 0.2rem;
  width: auto;
}

.projectdesc {
  margin: 0.6rem 0rem 0.6rem 1rem;
  color: black;
}

.site {
  margin-right: 0.6rem;
}

.sitelink {
  color: #85ABA2;
}

.team {
  margin-right: 0.8rem;
}

.caselink {
  margin: auto;
  text-align: center;
  width: 95%;
  border-radius: 2rem;
  border: 1px solid #ffffff;
  height: 3rem;
}

.caselink:hover {
  border: none;
}

.caselink:hover .casegrad {
  background: linear-gradient(132.04deg, #78C0BB -15.02%, #A27E6E 62.75%, #5C9371 96.41%);
  filter: blur(10px);
}

.casegrad {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
}

.casetxt {
  position: relative;
  top: -2.1rem;
}

.casea {
  color: #ffffff;
  font-family: sans-serif;
}

.greybox {

}

.greybox>div {
  font-family: 'William_Caslon', serif;
  color: #ffffff;
}

.linkcall {
  display: inline-flex;
}

/*footer*/

.footer {
  background: black;
  color: white;
  padding-bottom: 15vh;
}

.foothold {
  padding: 0.6rem;

}

.foothold>p {
  font-family: 'William_Caslon', serif;
  font-size: 0.8rem;
}

#combine {
  width: 100%;
}

#composing {
  width: 50vw;
}

/*footer*/

.footerbox {
  background-color: #000000;
  font-family: 'William_Caslon', serif;
  color: white;
  font-size: 0.8rem;
}

.footerhold {
  width: 95%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footergrid {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 200px;
}

.footerl {

}

.footerr {
  text-align: right;
  border-left: 1px solid white;
}

.foottext {
  font-family: 'William_Caslon', serif;
}

.decentralized {
  margin-bottom: 6rem;
}

#days {
  font-family: 'CSTMX', serif;
  color: #ffffff;
  font-size: 2.6rem;
}

.social {
  margin-bottom: 10rem;
}

.social>svg {
  margin: 0.6rem;
}


/*desktop*/

@media only screen and (min-width: 1000px) {

  #namecall {
    font-size: 1.2rem;
  }

  .headline {
    font-size: 10vw;
    line-height: 10vw;
  }

  #call {
    font-size: 10vw;
  }

  .bottomheadline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .linebase {
    border-bottom: 1px solid white;
    width: 30%;
    flex-shrink: 1;
  }

  #headhello {
    width: 6vw;
  }

  #smallline {
    border-bottom: 1px solid white;
    flex-shrink: 1;
    width: 8%;
  }

  .variablehold {
    display: grid;
    grid-template-columns: 45% auto;
  }

  #holdeleft {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 100vh;
    display: block;
    top: 0px;
    margin: 0
  }

  #abouthor {
    display: block;
    width: 70%;
    margin: auto;
    padding-left: 5%;
  }

  #abouthold {
    display: inline-flex;
  }

  #aboutheight {
    height: 100vh;
  }

  #aboutme {
    margin: auto;
  }

  .contentbox {
    margin: auto;
    margin-bottom: 2.5vw;
    margin-top: 5vw;
  }

  #contentbg {

  }

  .contentwidth {

  }

  #aboutgrid {
    display: grid;
    grid-template-columns: 50% auto;
    margin-bottom: -5px;
  }

  .halfmast {
    width: 100%;
  }

}
