projleft
  mixin projleft(picture, title, body)
    .projleftgrid
      .projpic
        img.projpicdim(src=picture)
      .projparhold
        .projnow
          .projpar
            h3.projtitle=title 
            p.projwords=body
            if block
              block
              
