projright
  mixin projright(title, body, picture)
    .projrightgrid
      .projparhold
        .projnow
          .projpar
            h3.projtitle=title
            p.projwords=body
            if block
              block
      .projpic
        img.projpicdim(src=picture)
