scripts 
  script(src="../JS/jquery.js")
  script(src="../JS/hireme.js")
  script(src='../JS/style.js')
  script(src='../JS/countdown.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.js")
  script(src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js")
  script(src='../JS/sketch.js')
