html
  header
    include ../templates/head
    
  body
    include ../templates/navbar
    include ../templates/projhead
    +featheadtop(
      "../images/abacus/newdim_abacus_01.jpg",
      "Abacus"
      )
    
    .projbg
      .spacer.hide
      include ../templates/projright
      +projright(
        "Accounting for Crisis",
        "Responding to the recent UN climate report giving us 12 years to develop systems of resiliency in the face of catastrophic climate change, I prototyped ways of accounting for the remaining time. These experiments focused on rapid iteration within a variety of mediums, resulting in the creations of a chrome extension, a tabletop clock, a ceremonial candle and a website.",
        "../images/abacus/ensemblesmall.jpg"
        )
    
    #projfeatquote
      #featquotetext “the felled trees an abacus tallying the years.”
      .attributebox
        p.projwords  —Sam Olson
      
    #specialgrid
      #speacialfeatimg
        img.specialfit(src="../images/abacus/sketchextension.jpg")
      #specialtop
      #spcialbottom
        #specialhold
          #specialcomp
          .projparhold
            .projnow
              .projpar
                h3.projtitle A False Start
                p.projwords Inspired by lines "the felled trees an abacus/ tallying the years," from a poem by Sam Olsen, I attempted to create the digital equivalent, tallying loss in concrete images. However, as soon as I had mocked this idea up, I realized it involved too many variables. From there, I paired everything down to the idea of a countdown. This was the single point of orientation that informed the rest of the project.
    #timerhold
      #timertext
        span#year  
        p years 
        span#day 
        p days 
        span#hour
        p hours 
        span#minute
        p minutes 
    
    .projbg
      include ../templates/projright
      +projright(
        "Material Terms",
        "Finally, I put together a simple website that put this time into a quotidian perspective. In addition to measuring the remaining time in days, I also included metrics such as hair length, number of meals eaten, and number of steps taken.",
        "../images/abacus/ipad.jpg"
        )
        .projlink
          .casegradgreen
          .projtxt
            a.proja(href="") See the Site
      .spacer.hide
    
    include ../templates/projleft 
    +projleft(
      "../images/abacus/clock.jpg",
      "Point of Orientation",
      "Hoping to make the impact more rooted in the material world, I decided to prototype a climate countdown clock using an arduino. The intention was to create a device resembling an alarm clock that would serve as a constant point of orientation. From the time indicated on the clock it would be clear: there are only so many days left to prepare."
      )
    .projbg
      +projright(
        "New Rituals",
        "Exploring other ways of tracking time, I experimented with candles. I was interested in both analog and the performative qualities of the object. In particular I was drawn to the way the object changed form overtime and the uneven way the wax melted as it marked the passage of time. In addition to producing the candle, I also drafted a proposal for a shrine where one-thousand (the number of candles needed to burn for the entire 12 year period) candles could exist. This religious context seemed useful and provocative.",
        "../images/abacus/newdim_abacus_01.jpg"
        )
    .spacer.hide    
    +projleft(
      "../images/abacus/extension2.jpg",
      "Close to Home",
      "To account for a changing climate, I created a chrome extension. This would constantly orient the user’s browsing. The end result is a clock that is shown every time a new tab is opened. However, it took time to reach this solution. I had ideas for a much more complex plug in. These focused on surfacing electricity usage and data consumption. It was only by working through and designing this complex system that I realized I needed to create something simple—something that could be understood in an instant. Based on conversations with my friend Martín, I was inspired by the idea of a clock and used that as inspiration moving forward."
      )
    
    include ../templates/flame
    include ../templates/mobilefooter
    script(src='../JS/timer.js')
      
