html
  header
    include ../templates/head
    
  body
    include ../templates/navbar
    include ../templates/projhead
    +featheadtop(
      "../images/bitclaims/topmoc.png",
      "Bitclaims"
      )
      
    .centerhighlight
      h1.bittime Redefining Value 
      .threehold#bitdip
        p.projwords The founders of BitClaims wanted to do something big: use blockchain technology to build price transparency within the primary care market. The team had a great idea, but no product. I was one of two designers asked to make this a reality.
      .threefold
        .values
          h3.projtitle Price Transparency
          p.projwords The product lets users explore primary care services, see pricing, and purchase plans.
        .values
          h3.projtitle Power in Numbers
          p.projwords BitClaims allows patients to form a pool, bundling care together to receive discounts.
        .values 
          h3.projtitle Patient Choice
          p.projwords BitClaims surfaces the features of a plan, facility information and doctor profiles.
      
    include ../templates/projleft
    +projleft(
      "../images/bitclaims/icon.png",
      "Constraints",
      "However, we had to consult with business design and the development team to determine the appropriate platform for the product. Ultimately, after considering development costs and with pressure to release a minimum viable product, it was determined we would build a mobile first web app."       
      )
    .spacer
     
    include ../templates/projright
    .projbg
      +projright(
        "Understanding Our Users",
        "With clear consensus, the team conducted a workshop to develop user personas that would guide the design process. Gathering stake holders we began to refine who key users might be and what their specific needs would look like.",
        "../images/bitclaims/newdim_arthure_02.jpg"       
        )
      
    .spacer
  
    .projleftgrid
      .projpic
        .tennanthold
          img.tennat(src="../images/bitclaims/Group 6.png")
      .projparhold
        .projnow
          .projpar
            h3.projtitle Building Out
            p.projwords Thus began a process of uncovering initial interaction. From there we began to sketch low fidelity wireframes. Through this process we refined the search and price discovery user flow. We developed a number of key features during this process.

    .spacer
    +projright(
      "Understanding Our Users",
      "With clear consensus, the team conducted a workshop to develop user personas that would guide the design process. Gathering stake holders we began to refine who key users might be and what their specific needs would look like.",
      "../images/bitclaims/process.gif"       
      )
    .spacer
    .projbg    
      .centerhighlight
        #constain
          h3.projtitle Atomic Components
          p.projwords These components can be fit together to form various features of the product, including doctor profiles, service pages and facility pages. Adding to this user flow, we began developing an on boarding process and a payment user flow. Of particular interest was adding a feature to allow payment in crypto. This was of particular interest to those providing the initial funding of the project.
        #comphold
          .atom 
            img.atomhold(src="../images/bitclaims/Group 9.png")
          .atom
            img.atomhold(src="../images/bitclaims/Group 8.png")
              
  
    .spacer
    +projleft(
      "../images/bitclaims/newdim_bitclaims_04.gif",
      "Interaction",
      "Thus began a process of uncovering initial interaction. From there we began to sketch low fidelity wireframes. Through this process we refined the search and price discovery user flow. We developed a number of key features during this process"       
      )
    .spacer
    .projbg 
      +projright(
        "Understanding Our Users",
        "With clear consensus, the team conducted a workshop to develop user personas that would guide the design process. Gathering stake holders we began to refine who key users might be and what their specific needs would look like.",
        "../images/bitclaims/newdim_bitclaims_01.jpg"       
        )
      
  
    include ../templates/flame
