html
  header
    include ../templates/head
    
  body
    include ../templates/navbar
    include ../templates/projhead
    +featheadtop(
      "../images/botnet/botnetphoto00.jpg",
      "Botnet"
      )
    
    .projbg
      .spacer
      include ../templates/projleft
      +projleft(
        "../images/botnet/botpic03.jpg",
        "Compiling the Botnet",
        "The botnet can’t be seen. Its success depends upon invisibility: this illusion of autonomy is necessary for achieving supremacy within a network. This project explores ways of visualizing the infrastructure of the botnet. From a branding system, to generative posters, the project culminated in a performance orienting the viewer within a mountain of tweets."
        )
        .projlink
          .casegrad
          .projtxt
            a.proja(href="") Read the Casestudy
      .spacer  
      .centerhighlight
        h3.projtitle Agora of Brand
        p.projwords For the project, I created an experimental brand for the botnet. The first brand principal, default typeface, is easily put into practice. All that’s needed is to type the word botnet in a default monospace. Next is the grid. The grid is applied dimensionally, determined by the window width, or size of printed collateral. The grid is a reference to pixels, but moreover, it establishes a sense of network control. Naturally the grid leads into the data structure. This is the final component of the brand. Like the botnet itself, this cannot be seen directly, but it is felt within the brand.
        .spacer
      .projbg
        #nuebox
          #botgridc
            .botnetpic#partial
              img.botpicdimb(src="../images/botnet/botnet01.jpg")
            .projparhold
              .projnow#posterbreakout
                .projpar#posterpad
                  h3.projtitle Generative Posters
                  p.projwords Next I explored visualizing the botnet using generative posters. I created a variety of sketches using the Twitter api and the p5.js Javascript library. With these posters I hoped to visual the structure as a whole, using the content as texture. Through repetition and scale I hoped to describe aspects of the botnet hidden by magnitude.              
                  .projlink
                    .casegrad
                    .projtxt
                      a.proja(href="") See the Code
          #anotherbox
            #octgrid
              div
              div
                img.octgriddim(src="../images/botnet/botnetposter00.jpg")
              div
              div
                img.octgriddim(src="../images/botnet/botnetposter02.jpg")
              div
      
    .spacer
    include ../templates/projright
    
    +projright(
    "Becoming Material",
    "At this point I realized that I was trying to use digital methods to make the botnet tangible. This seemed counterproductive and severely limited the potential of the project. I began to experiment with ways to introduce the botnet into space. To this end I began with projections, streaming lines of tweets onto various surfaces. From cement to the walls of a server room, the projections sparked interesting questions of materiality and recursivity.",
    '../images/botnet/botnet.gif'
    )
    
    .spacer  
    +projleft(
      "../images/botnet/BOTPIC.jpg",
      "Building an Archive",
      "Finally, I created a sculptural experience, hoping to orient the viewer within the botnet. It was important to created an experience that employed material methods. Engaging with the viewers' senses helped to put the botnet into perspective. While this method didn't offer any navigational advantages (it didn't help the viewer understand) it did allow the viewer to come to terms with network scale and information flows."
      )
      .projlink
        .casegrad
        .projtxt
          a.proja(href="") Read the Casestudy
    
    include ../templates/flame
              
              
