html
  header
    include ../templates/head
    
  body
    include ../templates/navbar
    include ../templates/projhead
    +featheadtop(
      "../images/epiphyte/moss.gif",
      "Epiphyte"
      )
      
    .centerhighlight
      p#quotetime "I like to think (and <br>the sooner the better!) <br>of a cybernetic meadow <br>where mammals and computers <br>live together in mutually <br>programming harmony <br>like pure water <br>touching clear sky."
      .attributebox
        p.projwords  —Richard Brautigan
      
    .centerhighlight#economy
      h3.projtitle Economy by Nature
      p.projwords Epiphyte is a tradebot that uses lichen and moss as computational black boxes.
      .threefold
        .projlink
          .casegrad
          .projtxt
            a.proja(href="http://www.epiphyte.cloud/") Visit the Website
        .projlink
          .casegrad
          .projtxt
            a.proja(href="https://docs.google.com/document/d/12wrR-l2lV0A8721L6dQBKfOJlQw_aGQeov7fDlaZMHI/edit") Read the Paper
        .projlink
          .casegrad
          .projtxt
            a.proja(href="https://github.com/millenniallglyphs/Epiphyte-tradebot") See the Code
      
    .projbg
      include ../templates/projright
      +projright(
        "Starting in Research",
        "Investigating cybernetic threads within blockchain projects, I examine a collection of hybrid digital/biological systems. In my paper I explore what these represent today, in the face of network capitalism and climate change.",
        "../images/epiphyte/montage.gif"
        )

    .projbgv     
      .centerhighlight
        h3.projtitle Conference Presentation
        p.projwords I was honored to present my research at RadicalxChange, in Detroit.
          .threehold
            .projlink
              .casegrad
              .projtxt
                a.proja(href="https://medium.com/@millennialglyph/cybernetic-reemergence-54ed063f7b00") Presentation
            
    include ../templates/projleft
    .projleftgrid#alittlemore
      .projpic
        #smaller
          img#tradegif(src="../images/epiphyte/epiensemwhite.gif")
      .projparhold
        .projnow
          .projpar
            h3.projtitle Taking Form
            p.projwords From the start, I was interested in a creating a bot that could be placed as an observation station, monitoring a lichen or moss sample in real time. I coded the tradebot in python, using Open CV libraries for much of the computer vision work and Intrino for my trade API. While the code is quite rudimentary, it represents a proof of concept. I hope to collaborate with developers in the future to create a more robust code base.
      
    .projbg  
      .centerhighlight
        h3.projtitle Building a tradebot
        p.projwords See how I researched and taught myself the skills to build this tradebot.
          .threehold
            .projlink
              .casegrad
              .projtxt
                a.proja(href="https://www.are.na/calvin-hutcheon/this-lichen-colony-is-a-shareholder") See the Process 
    
    #videofram
      iframe(width="100%" height="100%" src="https://www.youtube.com/embed/Uz-Y6V9h9Wo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      
      
    +projright(
      "Exhibition",
      "Investigating cybernetic threads within blockchain projects, I examine a collection of hybrid digital/biological systems. In my paper I explore what these represent today, in the face of network capitalism and climate change.",
      "../images/epiphyte/epi_show01.jpg"
      )
      
    .spacer.hide
    .projbg  
      +projleft(
        "../images/epiphyte/in-situ.gif",
        "What's Next?",
        "While the tradebot is complete, the project hardly feels over. I hope to continue to collaborate on these ideas in the future, building out the Epiphyte concept. I'm particularly interested in including other forms of living sensors within financial networks"
        )
    
    include ../templates/flame
    include ../templates/mobilefooter
